<?xml version="1.0" encoding="UTF-8"?>
<!--This must be added manually.-->
<configuration>
	<connectionStrings>
		<add connectionString="Data Source=(LocalDB)\MSSQLLocalDB; AttachDBFilename=|DataDirectory|\UniversityDB.mdf; Integrated Security=True" name="UniversityDB"/>
	</connectionStrings>
</configuration>